<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">VIG COIN</a>
  <div class="collapse navbar-collapse" i>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://vigcoin.org">返回官网 <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <br />
      <h1 class="h1 text-center text-danger" title="Offline wallet generator">VIG COIN纸钱包生成器</h1>
      <hr />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="text-secondary">欢迎使用VIG COIN钱包.</h1>
      <p>
        这个页面用于生成VIG COIN钱包. 这个页面包含了所有相关的计算代码，所以也可以在没有网络的环境里生成钱包。这样你的密钥就可以完全没有安全风险了。 当前页面的新版本代码可以在这里找到：
        <a href="https://github.com/vigcoin/paper-wallet.git">这里</a>.
      </p>
    </div>
    <div class="col-sm">
      <h1 class="text-secondary">钱包包含了三个部分</h1>

      <div>
        <ol>
          <li>钱包地址： 用于公开接收第三方的交易</li>
          <li>记忆种子：用于生成消费私钥与查看私钥</li>
          <li>生成消费私钥与查看私钥：用于方便开发使用</li>
        </ol>
        当页面打开时，新的地址已经生成。你可以直接使用当前的地址，也可以点击[生成新钱包]按钮重新生成。
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <hr />
      <h1 class="text-center">
        <input class="btn btn-primary" type="button" onclick="js:genwallet(null);" value="生成新钱包"
          id="gen_with_custom_entropy_button" action="" />
        <input type="hidden" value="" id="user_entropy_widget" oninput="js:checkEntropy();" />
      </h1>
    </div>
    <div class="col-sm">
      <hr />

      <form action="{{url}}" method="POST" target="_blank" (ngSubmit)="onSubmit($event)">
        <h1 class="text-center">
          <input type="hidden" class="form-control hidden" [(ngModel)]="spend" name="spend" />
          <input type="hidden" class="form-control hidden" [(ngModel)]="view" name="view" />
          <button class="btn btn-primary" type="submit" *ngIf="spend; else elseBlock">下载钱包</button>
          <ng-template #elseBlock><button class="btn btn-warning" type="button" disabled>正在生成新钱包...</button>
          </ng-template>

        </h1>
      </form>
    </div>
  </div>
  <hr />
  <div class="alert alert-success" role="alert">
    <h1 class="h1 text-center" title="Offline wallet generator">请把下面的绿色部分都保存好！！！</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <hr />
      <h3 class="text-primary">私钥(必须保存起来)</h3>
      <hr />
      <p> 消费私钥(spend key)和查看私钥(view key)是生成钱包用的。
        <b>请一定要确保安全，并不能让其他人知道。</b>
      </p>
      <p class="text-primary">消费私钥(Spend key): <br /><span class="text-success" id="spend_key_widget">生成中...</span></p>
      <p class="text-primary">查看私钥(View key): <br /><span class="text-success" id="view_key_widget">生成中...</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <hr />
      <h3 class="text-primary">钱包地址</h3>
      <hr />
      <p>这是你给第三方用于发送VIG给你的地址,是这里唯一可以公开的信息。</p>
      <p class="text-success" id="address_widget">生成中...</p>
      <p class="qrcode hidden" id="address_qr_widget" onclick="js:toggle_qr();"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <hr />
      <h3 class="text-primary">记忆种子</h3>
      <hr />
      <p>记忆种子是一个由一些单词组成的字符串，用于帮助你重新生成私有密钥。
        <!-- The mnemonic seed is a string that comprises 24 (Aeon) or 25 (Monero) words and allows you to recreate your private keys. -->
        <b>请秘密保存好!</b></p>
      <p class="text-success" id="mnemonic_widget">生成中...</p>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <br />
        <h2>Credits</h2>
        <p>
          Made by calidion, based on code from
          <a href="https://moneroaddress.org/">moneroaddress</a>. Copyright notices in the source.
        </p>
      </div>
    </div>
  </div>
</footer>
